<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div data-blog-posts>
                {% for item in data %}
                <div class="post-preview">
                    <a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str }}" target="_blank">
                        <h2 class="post-title">
                            {{ item.text }}
                        </h2>
                    </a>
                    <p class="post-meta">Posted on {{ item.created_at|date('Y-m-d H:i') }}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}

<script src="js/jquery/jquery.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>